.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: whitesmoke;
}

a:hover,
a:active {
  color: pink;
}
